body {
  background-color: white;
}






















/**********************************
Dieser Abschnitt dient zum Gestalten von Tabellen
***********************************/
tabelle, th, td {
  border: 1px solide HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
/ ********************************* /